* {
    font-family: 'Roboto'
}

.header-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-left: 150px;
}
.header-links {
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 15px;
    margin-right: 150px;
}
/*subsection of first section*/
.sub-header-container{
    background-color: #1f2937;
    display: flex;
    gap: 10px;
}

.subcontainer2 {
    margin-left: 150px;
    margin-top: 50px;
    flex: 1;
}

.sub-header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.sub-text {
    color: #e5e7eb;
    font-size: 18px;
}

.signup {
    background: #3882F6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 5px;
    border:#3882F6 solid 5px;
    height: 30px;
    width: 110px;
    margin-top: 20px;  
}

.forest {
    width: 150px;
    margin-right: 150px;
    margin-top: 50px;
    padding-bottom: 50px;
    flex: 1;
}
/* start of second section(white/images)*/
.white-header-container {
    display: flex;
    justify-content: center;
}

.white-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.pics {
flex-basis:0;
margin-bottom: 50px;;
}

.section-pic {
    height: 140px;
    width: 120px;
    border-radius: 10px;
    border:#3882F6 solid 3px;
}

/*quote section(gray)*/
.quote-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    
}

.quote {
    font-size: 32px;
    font-style: italic;
    color: #1F2937;
    margin: 80px 260px;
}

.author-container {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
.author {
    font-weight: bold;
    font-size: 20px;
}

/* pop-up */
.popup-container {
 background-color: #3882F6;
 color:#f9faf8;
 border-radius: 5px;
 border: #3882F6 solid 5px;
 padding: 30px;
 display: flex;
 justify-content: space-between;
}

.outer-popup-area {
 background-color:#f9faf8;
 margin: 50px 190px;
}

.pop-signup-container {
    display: flex;
    align-items: flex-end;
}

.popup {
margin-left: 40px;
}

.pop-signup {
margin-right: 40px;
background-color: #3882F6;
border-radius: 3px;
border: #f9faf8 solid 2px;
color:#f9faf8;
padding: 5px;
width: 100px;
}

.pop-title {
    font-weight: bold;
    font-size: 18px;
}

/*footer*/
.footer {
    font-size: 14px;
    color: #e5e7eb;
    padding: 20px;
    background-color: #1F2937;
    text-align: center;
}
